<ion-content>
  <div class="page-bg" [ngStyle]="{'background-image': 'url(' + getImage() + ')','background-size': 'cover','background-position': 'center'}"></div>
  <div class="container" (swipe)="endMeeting()">
    <div id="roomName" (click)="showPreference()">{{ room.name }}</div>
    <timer startTime="{{roomStatus.start}}" endTime="{{roomStatus.end}}" emailId="{{roomStatus.creator}}" isQuickMeet="{{isQuickMeet()}}" summary="{{roomStatus.summary}}" *ngIf="roomStatus"></timer>
    <swiper text="<< swipe to end >>" *ngIf="isQuickMeet()"></swiper>
  </div>
</ion-content>
