page-preference {
  font-family: Meslo LG L DZ for Powerline;

  .office {
    display: inline-block;
    line-height: 175px;
    width: 225px;
    height: 175px;
    background: url("../../assets/images/chennai-trans.png");
    background-size: cover;
    border: 1px solid white;
  }

  ion-header {
    margin: 40px 0;
    height: 215px;
  }

  .header-md::after {
    display: none;
  }

  ion-content {
    background: url("../../assets/images/taj_mahal_yellow.png") center;
    background-size: cover;

    .fixed-content {
      display: none;
    }

    .scroll-content {
      top: 40px;
      bottom: 40px;
      margin-top: 285px !important;
    }
  }

  .list-md,
  ion-list {
    margin: 0 100px;

    .item {
      text-align: center;
      color: white;
    }
  }

.blured {
  position: fixed;
  left: 0;
  right: 0;
  top: 360px;
  bottom: 145px;
  background: #A3A34C;
  box-shadow: 0px 0px 50px 100px #A3A34C;
  margin: 0px 25%;
}
  ion-label {
    opacity: 1;
  }

  .item-md[detail-push] .item-inner,
  a.item-md:not([detail-none]) .item-inner,
  button.item-md:not([detail-none]) .item-inner {
    background: none;
    padding: 0;
  }

  .list-md > .item-block {
    font-weight: normal;
    font-size: 50px;
    background: none;
    &:first-child,
    &:last-child {
      border: none;
    }

    .item-inner {
      border: none;
    }
  }
}
